.main-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@mixin layout-center {
  display:flex;
  justify-content: center;
  align-items: center;
}

header {
  min-height: 105px;
  width: 100%;
  background-color: #333;

  @include layout-center();
  flex-direction: column;

  .title {
    padding-top: 1rem;
    color: white;
    font-size: 2rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  li {
    float: left;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      cursor: pointer;
      font-size: 12px;
    }

    a:hover {
      background-color: #111;
    }
  }
}

main {
  @include layout-center();
}

footer {
  min-height: 50px;
  width: 100%;
  background-color: #333;
  color: white;
  @include layout-center();
}
